body {
    margin: 1%;
    padding: 1%;

    box-sizing: border-box;
    background-color: azure;
}

div {
    width: 250px;
    float: left;
    margin-left: 8.8%;
}

.su {
    width: 250px;
    height: 300px;

}

.icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: relative;
    bottom: 45px;
    left: 208px;
}

p {
    position: relative;
    bottom: 50px;
}